/* app css stylesheet */

body {
  padding-top:70px;
  background-color: #f8f8f8;
  border-color:black;
}

#sortingFooter
{
color:black;
}

h1
{
text-align:center
}

img {
    position: absolute;
    top: 0; bottom:0; left: 0; right:0;
    margin: auto;
}
